/* table.GeneratedTable {
    width: 25%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #808589;
    border-style: solid;
    color: #000000;
    margin: 2em;
    float: left;
  }
  
  table.GeneratedTable td, table.GeneratedTable th {
    border-width: 2px;
    border-color: #808589;
    border-style: solid;
    padding: 3px;
  }
  
  table.GeneratedTable thead {
    background-color: #1378fb;
  } */

#total {
      background-color: rgb(238, 238, 4);
  }

  .myButton {
    background-color: #009879;; /* Green */
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 50%;
  }

  .addButton {
    background-color: #009879;; /* Green */
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
  }

body {
  /* background-image: url(../Pictures/math1.png); */
  background-color: rgb(162, 162, 165);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-blend-mode: overlay;
}

.styled-table {
  width: 25%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  /* min-width: 400px; */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  float: left;
  margin: 1em;
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #f8f5f5;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #d9dfec;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #c0c9dd;
}


.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}