.exercise__homepage {
    margin-left: 2em;
}

.exercise {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2em;
}

.img img:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: 1s ease;
}