.note__card {

    background-color: #ddffdd;
    border-left: 6px solid #04AA6D;
    margin: 15px 15px;
    padding: 4px 12px;
    min-height: 3em;
      
}

.note__button {
    justify-content: flex-end;
    display: flex;
    float: right;
}