.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2f6df3;
}

.navbar__link {
    flex-basis: 20%;
    list-style-type: none;
    /* float: left; */
    /* display: block; */
    color: white;
    /* text-align: right; */
    padding: 14px 16px;
    text-decoration: none;
    background-color: #2f6df3;
    color: white;
}

.navbar__item:hover {
    background-color: rgb(156, 65, 65);
}

.navbar__link {
    color: skyblue;
    float: left;
    flex-basis: 20%;
    list-style-type: none;
}

a.navbar__logout {
    color: skyblue;
    float: right;
    padding: 14px 16px;
    
}
